[Unit]
Description=Run TShark Capture and log to file
After=network.target

[Service]
ExecStart=/usr/local/bin/tshark-scan.sh
Restart=on-failure
User=root
Nice=10
IOSchedulingClass=2
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
