[Unit]
Description=Run Trivy Scan every 6 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Unit=trivy-scan.service

[Install]
WantedBy=timers.target
